body {
	background-color: #000;
  margin:0;
  padding:0;
  cursor: url('c2.png');

}
/*@font-face {
  font-family: 'HelpMe';
  src: url('./fonts/HelpMe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmaticSc-Bold';
  src: url('./fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  cursor: url('c2.png');

}

.container {
  background-image: url('bg6.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
  width:100vw;
	margin: 0;
  padding:0px;
}

.left,.right {
	color: white; 
	font-size: 80px;
  padding:25px;
  letter-spacing:15px;
  margin-left:80px;

}

.middle {
	color:red; 
	font-size:450px;
  margin-left:43px;
  /*margin-left:-60px;*/

}

#navbar {
	background-color:transparent; 
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
  font-size: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#navbar a {
	color: white;  
	text-decoration: none;

}
.event-subtext {
	margin-top: 0;
	font-size: 12px;
	color: white; 
  letter-spacing:17px;
  font-weight:;
}

#sharma{
  margin-left:-35px;
}
.container2{
  background-image: url('bg4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
  width:100vw;
  padding:0px;
  align-items: center;
  text-align: center;
  font-size:50px;

}


.form-container {
  background-color: #ffffff7f;
  backdrop-filter: blur(5px);
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left:530px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size:30px;

}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
  align-items: center;
  font-size:30px;


}

.form-container input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left:50px;
  margin-right:50px;

}

.form-container button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;

}